* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    color: #383838;
    text-decoration: none;
}

.auth_wrapper {
    width: 400px;
    height: 300px;
    margin: 0 auto;

    h3 {
        font-size: 36px;
        text-align: center;
        margin: 40px 0px 80px 0px;
    }

    form {
        p {
            color: red;
        }

        input {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;

            &:last-child {
                transition: 0.3s;
                border: none;
                background: #000;
                color: #fff;

                &:hover {
                    background: #ccc;
                    color: #000;
                }
            }
        }
    }
}

.li-Link {
    color: #868686;
}
